<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319984802861-c1o2gggl2v2i6c2rkvvb92ajbhs4fmli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319984802861-c1o2gggl2v2i6c2rkvvb92ajbhs4fmli</string>
	<key>API_KEY</key>
	<string>AIzaSyAWyrVSOgBo6SLBDuu5a3mqnEDjiCXWep4</string>
	<key>GCM_SENDER_ID</key>
	<string>319984802861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muratmnz.LoginScreen-Firebase</string>
	<key>PROJECT_ID</key>
	<string>loginscreenapp-5e803</string>
	<key>STORAGE_BUCKET</key>
	<string>loginscreenapp-5e803.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319984802861:ios:e4529b5af2e1f533dd2ca4</string>
</dict>
</plist>